.formGroup {
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 70px 1fr;
  align-items: center;
  gap: 20px;
}

.btn {
  display: inline-block;
  background-color: rgb(241, 127, 245);
  cursor: pointer;
  padding: 10px 15px;
  border: 2px solid blueviolet;
  border-radius: 10px;
  color: black;
  margin-bottom: 30px;
  min-width: 50px;
  font-size: 15px;
}
